@font-face {
  font-family: "Cabinet-Grotesk";
  src: url(../assets/Cabinent-grotesk-font/CabinetGrotesk-Regular.woff)
    format("woff");
}

.body {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
